@mixin max-line($line, $line-height: 1.5) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  line-height: $line-height;
  max-height: #{$line * $line-height}em;
}
@mixin chart-container {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  .echarts {
    flex: 1 0 0;
  }
  .params {
    flex: 0 0 0;
  }
}